<p>header</p>
<nav class="navbar navbar-dark bg-dark">
    <a routerLink="first-component">Home</a> | 
    <a routerLink="list-render">Lista</a> |
    <a routerLink="change-number">Change Number</a> |
    <a routerLink="directives">Directives</a> |
    <a routerLink="emitter">Emitter</a> |
    <a routerLink="eventos">Eventos</a> |
    <a routerLink="if-render">If-render</a> |
    <a routerLink="parent-data">Parent-data</a> |
    <a routerLink="pipes">Pipes</a> |
    <a routerLink="two-way-data-binding">Two way data binding</a> |
</nav>
<h1>Hello World Angular!</h1>
<router-outlet></router-outlet>
<p>footer</p>