<p>header</p>
<nav class="navbar navbar-dark bg-dark">
    <a routerLink="first-component">Home</a>
    <a routerLink="list-render">Lista</a>
    <a routerLink="change-number">Change Number</a>
    <a routerLink="directives">Directives</a>
    <a routerLink="emitter">Emitter</a>
    <a routerLink="eventos">Eventos</a>
    <a routerLink="if-render">If-render</a>
    <a routerLink="parent-data">Parent-data</a>
    <a routerLink="pipes">Pipes</a>
    <a routerLink="two-way-data-binding">Two way data binding</a>
</nav>
<h1>Hello World Angular!</h1>
<router-outlet></router-outlet>
<p>footer</p>

<!--<h2>Testando H2</h2>
<p>Alguma coisa</p>
<div>
    <a href="#">Clique aqui</a>
</div>
<app-first-component></app-first-component>
<app-parent-data [name]="userName" [userData]="userData"></app-parent-data>
<app-directives></app-directives>
<app-if-render></app-if-render>
<app-eventos></app-eventos>
<app-emitter></app-emitter>
<app-list-render></app-list-render>
<app-pipes></app-pipes>
<app-two-way-binding></app-two-way-binding>-->